* {
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
body {
  background-color: black;
}
.App {
  font-family: sans-serif;
  text-align: center;
  color: lightcyan;
  border: solid 1px cyan;
  padding: 10px;
}
.application__choosingMenu {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-width: 500px;
  min-height: 400px;
  color: white;
  margin: 10px auto;
}
.application__options {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 0px;
  margin: 5px auto;
}
.application__option,
.back__button {
  display: block;
  text-align: center;
  width: 100px;
  height: 30px;
  margin: 10px;
  padding: 5px;
  border-radius: 5px;
  background-color: darkgrey;
  transition: all 0.3s ease-in-out;
}
.application__option:hover,
.back__button:hover {
  background-color: darkcyan;
}
.application__option:active,
.back__button:active {
  transform: scale(0.9);
}

.keyboard {
  position: relative;
  margin: 10px auto;
  width: 107px;
  display: grid;
  grid-template-columns: 33px 33px 33px;
  grid-template-rows: auto;
  grid-column-gap: 4px;
  grid-row-gap: 4px;
}
.key {
  background-color: grey;
  font-size: 20px;
  width: 33px;
  height: 33px;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  border-radius: 2px;
  transition: all 0.2s linear;
}
.key:hover {
  box-sizing: border-box;
  font-weight: bold;
  background-color: lightblue;
  border: solid 1px black;
}
.key:active {
  transform: scale(0.9);
}

.Input__complex:nth-child(odd):before {
  content: "+";
  position: absolute;
  text-align: left;
  color: black;
  left: 120%;
  top: 0px;
  display: block;
}
.Input__complex:nth-child(odd) {
  counter-increment: list-counter;
}

.Input__complex:nth-child(odd):after {
  color: darkcyan;
  content: "Number" counter(list-counter);
  font-size: 12px;
  position: absolute;
  text-align: left;
  color: black;
  left: 90%;
  top: -70%;
  display: block;
}
.Input__complex:nth-child(even):before {
  content: "i";
  position: absolute;
  text-align: left;
  color: black;
  left: 100%;
  top: 0px;
  display: block;
}

.Input__complex {
  position: relative;
}
.input__complex {
  position: relative;
  width: 40px;
  float: left;
}
.input__complex--active {
  background-color: rgba(53, 230, 236, 0.979);
}
.screen {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  align-items: center;
  margin: 20px auto;
  width: 300px;
  height: 80px;
  background: darkcyan;
  border-radius: 5px;
  border: solid 2px cyan;
  counter-reset: list-counter;
}
.control__buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  max-width: 300px;
  align-items: center;
  height: 50px;
  margin: 5px auto;
}
.button {
  width: 100px;
  height: 30px;
  font-size: 18px;
  color: black;
  background-color: grey;
  border: solid 1px darkcyan;
  border-radius: 5px;
  padding-top: 5px;
  text-align: center;
  transition: all 0.2s ease-in-out;
}
.button:hover {
  background-color: darkgrey;
}
.button:active {
  transform: scale(0.9);
}
.complex__tooltip {
  position: relative;
  display: block;
  margin-right: 10px;
  margin-left: auto;
  top: -45px;
  padding: 5px;
  width: 30px;
  height: 30px;
  text-align: center;
  background-color: lightgray;
  color: lightseagreen;
  border: solid 1px black;
  border-radius: 50%;
  transition: background-color 0.2s linear;
  z-index: 1001;
}
.complex__tooltip:hover {
  color: black;
  background-color: cyan;
}
.complex__tooltip:active {
  transform: scale(0.9);
}
.tip {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  background-color: darkgrey;
  color: darkcyan;
  flex-direction: column;
  justify-content: center;
  align-items: space-around;
  text-align: center;
  transition: all 0.3s ease-in-out;
  z-index: 1000;
}
